$mainLightShade: #F5F7F3;
$mainLightAccent: #6E94B2;
$mainColor: #0ED083;
$mainDarkAccent: #B33F59;
$mainDarkShade: #1E1420;

$mainLight: #10e590;

$defaultDark: #8b8b8b;

$default: #999999;
$primary: #24D08E;
$success: #40B963;
$danger: #BDA92B;
$warning: #F44336;
$info: #010001;
